<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>관리자 패스워드 변경</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css" type="text/css" />

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="/css/sb-admin.css" />
</head>
<body class="bg-dark">
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">관리자 패스워드 변경</div>
        <div class="card-body">
            <form name="loginForm" class="needs-validation" id="loginForm"
                  th:action="@{/password-change}" th:object="${passwordChangeForm}" method="post" novalidate>
                <div th:if="${#fields.hasErrors()}" class="alert alert-danger" role="alert">
                    <span th:errors="*{newPassword}"></span>
                </div>
                <div th:if="${error}" class="alert alert-danger" role="alert">
                    <span th:text="${error}"></span>
                </div>
                <div th:if="${message != null}" class="alert alert-success" role="alert">
                    <span th:text="${message}"></span>
                </div>
                <div class="form-group" sec:authorize="isAuthenticated()">
                    <div class="form-label-group">
                        <input type="email" name="email" id="email"
                               th:value="${#authentication.name}" class="form-control"
                               placeholder="Email address" aria-describedby="emailHelp" required/>
                        <label for="email">Email address</label>
                        <small id="emailHelp" class="form-text text-muted"이메일을 입력하세요.</small>
                        <small class="invalid-feedback">이메일을 입력하세요.</small>
                    </div>
                </div>
                <div class="form-group" sec:authorize="isAuthenticated()">
                    <div class="form-label-group">
                        <input type="password" name="newPassword" id="newPassword"
                               th:field="*{newPassword}" class="form-control" placeholder="Password" autofocus="autofocus"
                               aria-describedby="newPasswordHelp" required/>
                        <label for="newPassword">새 패스워드</label>
                        <small class="invalid-feedback">새 패스워드를 입력하세요.</small>
                    </div>
                </div>
                <div class="form-group" sec:authorize="isAuthenticated()">
                    <div class="form-label-group">
                        <input type="password" name="newPasswordConfirm" id="newPasswordConfirm"
                               th:field="*{newPasswordConfirm}" class="form-control" placeholder="Password"
                               aria-describedby="newPasswordConfirmHelp" required/>
                        <label for="newPasswordConfirm">새 패스워드 확인</label>
                        <small class="invalid-feedback">새 패스워드를 다시 입력하세요.</small>
                    </div>
                </div>
                <button sec:authorize="isAuthenticated()" class="btn btn-primary btn-block" type="submit">Password Change</button>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="#" th:href="@{/login}">로그인</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/node_modules/jquery.easing/jquery.easing.min.js"></script>
<script type="application/javascript">
    (function() {
        'use strict';

        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false)
            })
        }, false)
    }())
</script>
</body>
</html>
