<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>키움증권 관리자 패스워드 변경</title>

    <!-- Custom fonts for this template-->
    <link href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

</head>
<body class="bg-dark">
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">패스워드 초기화 하기</div>
        <div class="card-body">
            <div class="text-center mb-4">
                <h4>패스워드 초기화</h4>
                <p>내부망 이메일 주소 입력 후, 버튼을 눌러 이메일로 패스워드 초기화 안내를 받으세요.</p>
            </div>
            <form name="passwordInitForm" id="passwordInitForm" th:action="@{/password-init}" method="post">
                <div th:if="${error != null}" class="alert alert-danger" role="alert">
                    <span th:text="${error}"></span>
                </div>
                <div th:if="${message != null}" class="alert alert-success" role="alert">
                    <span th:text="${message}"></span>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter email address" autofocus="autofocus" required />
                        <label for="email">이메일 주소</label>
                    </div>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="#" th:href="@{/login}">로그인</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/node_modules/jquery.easing/jquery.easing.min.js"></script>
</body>
</html>